<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>交行MAPI商户接入网关(扩展交易)联机API示例</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>
    &nbsp;
</p>

<table width="75%" border="0" align="center">
    <tr>
        <td>
            <div align="center">
                <p>
                    <font color="#0000FF">交行MAPI商户接入网关(扩展交易)</font>
                </p>

                <p>
                    <font color="#0000FF">联机API交易演示</font>
                </p>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="pay1_singleLayerMergeOrderCreateAndPay.html">合并订单创建并付款(BPAYPY4102)方便单层协议商户测试</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompayExtra/merSignDetailQuery">一级商户签约信息查询(BPAYPY4022)</a></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="refundDetailQuery.html">退款明细信息查询(BPAYPY4197)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font color="#000000">以下交易须开立二级商户</font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompayExtra/sndMerSignDetailQuery">二级商户签约信息查询(BPAYPY4026)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="sndMerSignAdd.html">二级商户签约信息新增(BPAYPY4028)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="pay1_singleOrderCreateAndPay.html">交易创建并付款(BPAYPY4101)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="pay1_mergeOrderCreateAndPay.html">合并订单创建并付款(BPAYPY4102)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="tradeConfirm.html">交易交付(BPAYPY4106,只担保交易模式需交付)</a></font>
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="pay0_singlePreOrderCreateAndPay.html">单笔预订单创建(BPAYPY4151,用于手机支付插件生成预订单并返回tn号)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a
                        href="pay0_mergePreOrderCreate.html">合并预订单创建(BPAYPY4152,用于手机支付插件生成预订单并返回tn号)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompay/index">返回基本交易</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"></font>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
