<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>一键支付签约(BPAYPY4161)</title>
</head>
<script language="javascript">
    function createOrderInfo() {
        var tmpDate = new Date();
        var day = tmpDate.getDate();
        var month = tmpDate.getMonth() + 1;
        var year = tmpDate.getFullYear();
        var hours = tmpDate.getHours();
        var minutes = tmpDate.getMinutes();
        var seconds = tmpDate.getSeconds();

        month = ((month < 10) ? "0" : "") + month;
        day = ((day < 10) ? "0" : "") + day;
        hours = ((hours < 10) ? "0" : "") + hours;
        minutes = ((minutes < 10) ? "0" : "") + minutes;
        seconds = ((seconds < 10) ? "0" : "") + seconds;

        document.all.TranDate.value = year + month + day;
        document.all.TranTime.value = hours + minutes + seconds;
        document.all.MerTranSerialNo.value = "Mer" + year + month + day + hours + minutes + seconds;
    }
</script>

<body bgcolor="#FFFFFF" text="#000000">
<form name="form1" method="post" action="/bocompay/onekey/BPAYPY4161_agree">
    <p>
        <input type="hidden" name="merCert" value=""> 一键支付签约(BPAYPY4161)
    </p>

    <hr/>
    <p>
        <font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;301310072169500<br/>商户证书ID&nbsp;&nbsp;301310063009501</font>
        <input type="text" style="border-color:blue" name="MerCertID" value="301140880629503">
        <font color="blue"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;301310063009502</font>
    </p>
    <hr/>

    <table width="75%" border="0" cellpadding="0" cellspacing="0">

        <tr>
            <td width="23%">
                交易码*
            </td>

            <td width="77%">
                <input type="text" name="TranCode" value="BPAYPY4161">
                <input type="submit" id="Submit" value="提交" name="submit">
            </td>
        </tr>

        <tr>
            <td width="23%">
                一级商户协议号*
            </td>

            <td width="77%">
                <input type="text" name="MerPtcId" value="301310063009501">
            </td>
        </tr>

        <tr>
            <td width="23%">
                请求日期*
            </td>

            <td width="77%">
                <input type="text" name="TranDate" value=""> yyyyMMdd
                <input type="button" name="createOrderId" value="生成时间" onClick="javascript:createOrderInfo();">
            </td>
        </tr>

        <tr>
            <td width="23%">
                请求时间*
            </td>

            <td width="77%">
                <input type="text" name="TranTime" value=""> HHmmss
            </td>
        </tr>

        <tr>
            <td width="23%">
                商户协议检索号*
            </td>
            <td width="77%">
                <input type="text" name="MerAgreeNo" value="">
            </td>
        </tr>
        <tr>
            <td width="23%">
                签约户名
            </td>
            <td width="77%">
                <input type="text" name="AccName" value="">
            </td>
        </tr>
        <tr>
            <td width="23%">
                证件类型
            </td>
            <td width="77%">
                <input type="text" name="CertType" value="">
            </td>
        </tr>
        <tr>
            <td width="23%">
                证件号
            </td>
            <td>
                <input type="text" name="CertNo" value="">
            </td>
        </tr>
        <tr>
            <td width="23%">
                商户备注
            </td>

            <td width="77%"><!-- PtcId -->
                <input type="text" name="MerComment" value="">
            </td>
        </tr>

        <tr>
            <td width="23%">
                交易类型*
            </td>

            <td width="77%"><!-- PtcId -->
                <input type="text" name="OnekeyTranType" value="0"> 0:普通 1:实名
            </td>
        </tr>

        <tr>
            <td width="23%">
                渠道类型*
            </td>

            <td width="77%"><!-- PtcId -->
                <input type="text" name="NetType" value="0"> 0 PC端签约 1 手机端签约
            </td>
        </tr>

    </table>

    <p>
        &nbsp;
    </p>
</form>
</body>
</html>
