<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>交行MAPI商户接入网关(扩展交易)联机API示例</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>
    &nbsp;
</p>

<table width="75%" border="0" align="center">
    <tr>
        <td>
            <div align="center">
                <p>
                    <font color="#0000FF">交行MAPI商户接入网关(扩展交易)</font>
                </p>

                <p>
                    <font color="#0000FF">联机API交易演示</font>
                </p>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4161_agree.html">一键支付付款账户签约(BPAYPY4161)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4162_queryAgree.html">一键支付签约查询(BPAYPY4162)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4163_unAgree.html">一键支付协议撤约(BPAYPY4163)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4164_sendMessage.html">一键支付短信发送(BPAYPY4164)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a
                        href="BPAYPY4166_pay0_singlePayByMessage.html">一键支付单笔短信付款(BPAYPY4166)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4167_pay1_multiPayByMessage.html">一键支付并单短信付款(BPAYPY4167)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4168_pay0_singlePayDirect.html">一键支付单笔直接付款(BPAYPY4168)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="BPAYPY4169_pay1_multiPayDirect.html">一键支付并单直接付款(BPAYPY4169)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="../bocompay/index.htm">返回基本交易</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"></font>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
