<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>交行MAPI商户接入网关联机API示例</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>
    &nbsp;
</p>

<table width="75%" border="0" align="center">
    <tr>
        <td>
            <div align="center">
                <p>
                    <font color="#0000FF">交行MAPI商户接入网关</font>
                </p>

                <p>
                    <font color="#0000FF">联机API交易演示</font>
                </p>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompay/singleLayerSingleOrderCreateAndPay">交易创建并付款(BPAYPY4101)方便单层协议商户测试</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompay/orderDetailQuery">订单明细查询(BPAYPY4192)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="/bocompay/tradeRefund">交易退款(BPAYPY4107)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="downloadBill.html">对账文件下载(BPAYPY4281)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="downloadReport.html">报表文件下载(BPAYPY4282)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="merOrderNotifyMaintain.html">一级商户订单通知维护(BPAYPY4020)</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="testComm.html">测试前台付款连通性</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="testVerifyBill.jsp">测试对账文件验签</a></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="../bocompayOnekey/onekeyIndex.htm">一键支付交易</a></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font color="#000000"><a href="../bocompayExtra/extraIndex.htm">扩展交易</a></font>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="center">
                <font color="#000000"></font>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
